body {
  background-image: url(assets/ow_bg2.jpg);
  background-position: center;
  background-repeat: repeat;
  color: #eee;
}
p {
  font-family: helvetica, sans-serif;
  font-size: 10px;
}
h1 {
  font-family: sans-serif;
  font-size: 36px;
}
h2 {
  font-family: sans-serif;
  font-size: 24px;
}
div {
  text-align: center;
  position: relative;
  font-family: sans-serif;
}
.countdownTime {
  text-align: inherit;
  padding: 10px;
  font-size: 22px;
}
.countdownTimeLabel {
  font-size: 22px;
}
.number {
  font-size: 54px;
}
#welcome {
  top: 18%;
}
#timer {
  display: flex;
  text-align: center;
  justify-content: center;
  top: 32%;
  font-size: 24px;
}
